{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="collection-title">
    <span class="title-main">SEARCH RESULTS</span>
    <span class="title-sub">for "{{ query }}"</span>
</div>

<div class="collection-grid">

{% for product in products %}
<a href="{% url 'product_detail' product.id %}" class="product-card">

    {% if product.image %}
        <img src="{{ product.image.url }}">
    {% endif %}

    <h3>{{ product.inspired_by }}</h3>
    <p>{{ product.brand }}</p>

</a>
{% empty %}

<p style="color:beige; padding-left:100px;">
No perfumes found.
</p>

{% endfor %}

</div>

{% endblock %}